body {
    background-image: url('https://wallpapercave.com/wp/wp2686996.jpg');
    background-position: contain;
    text-align: center;
    color:#fff;
    overflow-x: hidden;
  }

.landing h1 {
    padding-top: 7.5%;
}

.nav-link {
    color: #fff;
}

h1 a {
    color: #fff;
    border: solid #000;
    background-color: rgba(0, 0, 0, 0.5);
}

a:hover {
    color: #fff;
    font-size: 1.5em;
}

.navbar {
    position: fixed;
}


.landing {
    background-image: url('https://i.pinimg.com/originals/23/09/13/230913a86ddd5b60a5a08ee49ebb11fe.png');
    background-attachment: fixed;   
    background-size: 100%;
    height: 630px;
    background-repeat: no-repeat;
}

.card {
    background-color: rgba(35, 173, 137, 0.13);
    
}

.skills {
    background-color: rgba(255, 255, 255, 0.452);
    color: #000;
    padding-bottom: 3%;
}